/* nie powinny powtarzać się elementy z tym samym id, a class się powtarza=po to jest
do id odnoszę się przez #, a do class po kropce */
/* div ma domyślnie display:block
   p ma domyślnie display:block */

/* css do tego jak ma wyglądać strona, html do tego co ma tam być i jaka struktura.
flex do rozmieszczenia */

html {
   scroll-behavior: smooth;
}

.flex_container {
   display: flex;
   flex-flow: row wrap;
   justify-content: space-between;
   align-self: center;
   padding: 0;
   margin: 0;
   list-style: none;
 }
 
 .flex_content {
	 flex-flow: column;
 }

 
 .flex_item_video {
   padding: 5px;
   width: 450px;
   height: 250px;
   margin: 10px;
  }
  
  .flex_item_text {
   padding: 0px;
   width: 450px;
   height: 150px;
   margin: 0px;
  }

 .flex_item_video iframe {
   width: 100%;
   height: 100%;
 } 

 /* 980 px-dwa w wierszu
 1460 - trzy w wierszu 
 poniżej 980px: jeden w wierszu */

 @media (max-width: 980px) {
   .flex_container {
      justify-content: center;
    }
 }

 @media (max-width: 1460px) and (min-width: 980px) {
   .flex_container {
      justify-content: space-around;
    }
 }
 
 .embed_single_video{
   display: flex;
   justify-content: center;
   /* padding-bottom: 56.25%; 
   height: 0; */
}

.embed_single_video iframe {
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
}

.adjust_single_video {
   width: 80%;
   margin: 5em;
   height: 0;
   padding-bottom: 56.25%;
   position: relative;
}


#content p.tx, p.tx, p.text {
    font-family:'Raleway', serif;
    font-size:16px;
    line-height:1.4;
    color:#000;
    text-align:center;
    padding:0 5%;
    margin:2em auto 2em auto;
    width:90%;
    max-width:760px;
}

/*Sticky menu*/

nav.stmenu {
    background:#fff;
    color: #0900c3;
    /* przyklejenie menu */
    position:sticky;
    z-index: 1;
    /* odstęp między menu a górą ekranu */
    top:0;
    font-family: 'Kotta One', sans-serif;
    font-size:18px;
    text-transform: uppercase;
 }
 
 /* menu pojawia się w jednym wierszu, a nie w kilku wierszach jednej kolumny. Literki są posklejane */
 nav.stmenu ul {
   /* linijka niżej aktywuje możliwości flex - części języka css odpowiedzialnej za zmianę rozmieszczenia, m.in. wyświetli elementy menu w jednej linii, a nie w jednej kolumnie w wielu wierszach (bo domyślnie jest tam flex-direction:row 
   MUSI BYĆ W ELEMENCIE NADRZĘDNYM WZGLĘDEM TEGO, KTÓRY CHCEMY ROZMIEŚCIĆ - tutaj li w ul*/
   display: flex;
   justify-content: center;
   /* jeśli będzie w menu więcej elementów i nie będą się mieścić w jednej linii, to flex-wrap to ładnie zawinie */
   flex-wrap: wrap;
   list-style: none;
   line-height: 2.5em;
 }

 /* styl tekstu jest inny: linki już nie są podkreślone, czcionka ma nowy kolor */
 nav.stmenu ul li a {
    text-decoration: none;
    padding:0.5em 0.3em;
    border-radius:5px;
    /* pierwsza wartość margin jest na górę/dół, a druga na lewo/prawo */
    margin: 0 10px;
    /* background-color:#fff; */
    color: rgba(9,0,195,1);
 }
  /* linki zmieniają kolor po najechaniu na nie */
 nav.stmenu ul li a:hover {
   color: rgba(0,0,204,0.5);
 }

 /* nie pojawiło się dodatkowe tło w aktywnym linku ani nie zmienił się kolor czcionki linka */
 nav.stmenu ul li a:active {
    background-color:rgba(0,0,204,1); 
    color: #fff; 
 }
 /* spacje zagnieżdżają style */
 nav.stmenu ul li a.highlight {
    background:rgba(0,0,204,1); 
    color: #fff; 
 }
 

.image_header {
    margin-top:0;
    height: 460px;
    background-size: cover;
    display:flex;
    /* wyrównaj lewo-prawo */
    justify-content: center;
    /* wyrównaj góra-dół */
    align-items: center;

}



 h2.section_title {
    font-family: 'Kotta One', sans-serif;
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
	text-align: center;
	text-shadow: 2px 2px #0900c3;
 }

 
 .story_modal {
   display: none;
}

/* kropka bez spacji - obie te klasy muszą być na tym samym elemencie */
.story_modal.modal_visible {
   display: flex;
   justify-content: center;
}

/* kropka ze spacją - jeden element jest zagnieżdżony w drugim, jedna klasa jest na nadrzędnym, druga na podrzędnym */
.story_modal .story_modal_overlay {
   position: fixed;
   opacity: 0.4;
   height: 100%;
   width: 100%;
   z-index: 2; /* będzie na wierzchu */
   background: black;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
}

.story_modal .story_container {
   z-index: 3;
   background: white;
   height: 100%;
   width: 960px;
   position: fixed;
   top: 0;
   bottom: 0;
   /* display: flex; */
   /* justify-content: center; */
   overflow-y: scroll;
}

.modal_image_wrapper {
   overflow: hidden;
   position: relative; 
   /* margin:0 auto; */
   text-align:center;
   width:100%;
   max-width:960px;
}

.story_text {
   width: 80%;
   margin: 0 auto;
}

.story_text p.txp, p.txp {
   font-family: 'Raleway', serif;
   font-size: 25px;
   line-height: 1.4;
   color: #000;
   width: 760px;
   /* text-align: left; */
   /* padding: 0 5%; */
   /* margin: 30px auto 30px auto; */
   /* max-width: 760px; */
}

/* cudzysłów
https://odnmedia.s3.amazonaws.com/reports/itaca/br1.jpg
 */

 .story_text blockquote.modal_quote {
    position: relative;
    width: 100%;
    margin: 20px auto;
 }

.story_text blockquote.modal_quote span::before {
   background-image: url(https://odnmedia.s3.amazonaws.com/reports/itaca/br1.jpg);
   background-size: 60px;
   width: 60px;
   height: 50px;
   content: " ";
   position: absolute;
   left: 0;
   top: 0;
}

.story_text blockquote.modal_quote span::after {
   background-image: url(https://odnmedia.s3.amazonaws.com/reports/itaca/br2.jpg);
   background-size: 60px;
   width: 60px;
   height: 50px;
   content: " ";
   position: absolute;
   right: 0;
   bottom: 0;
}

.story_text blockquote.modal_quote span {
   font-family: 'Kotta One', sans-serif;
   text-transform: uppercase;
   /* padding: 60px; */
   font-size: 20px;
   text-align: center;
   line-height: 1.5;    
   display: block;
   margin: 0 auto;
   position: relative;
   width: 80%;
   max-width: 800px;
   padding: 20px 60px;
}

#rosa_modal_header.image_header {
   background-image: url(https://odnmedia.s3.amazonaws.com/reports/itaca/p/pRosa1.jpg);
   display: flex;
   justify-content: flex-start;
   align-items: flex-end;
}

#rosa_modal_header h2.section_title {
   text-transform: capitalize;
   margin-left: 90px;
   margin-bottom: 20px;
   text-shadow: 3px 3px rgb(37, 37, 37, 0.425);

}